@tailwind base;
@tailwind components;
@tailwind utilities;


#show_bg_2 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(307deg, white , white, transparent 70%) , url(/images/FL2.jpg) no-repeat center;
  background-size: cover;
  width: 400px;
  height: 400px;
  background-size: auto;
  color: white;
  padding: 20px;
  z-index: -1;
}

#hero {
    background: linear-gradient(31deg, white , white, transparent 60%) , url(/images/bg.jpg) no-repeat center;
  /* background: linear-gradient(145deg, white , white, transparent 70%) , url(/images/IMG_6172f.jpg) no-repeat center; */
  /* background:  url(/images/IMG_6172f.jpg) no-repeat center; */

  background-size: cover;
}

#community {
  /* background: linear-gradient(306deg, transparent 20%, white , white) , url(/images/FL2.jpg) repeat right; */
  /* background: linear-gradient(306deg, transparent 20%, white , white) , url(/images/bg.jpg) no-repeat right; */
  background: url(/images/bg2.jpg) no-repeat right;

  /* background:  url(/images/FL2.jpg) no-repeat right; */
  background-size: cover;

}